<!DOCTYPE html>
<html lang="zh-CN"> 
<head>
    <meta charset="utf-8">
    <title>ReactJs demo8</title>
</head>
<body>
    <div id="demo"></div>
    <script src="../../include/react.js"></script>
    <script src="../../include/react-dom.js"></script>
    <script src="../../include/browser.min.js"></script>
    <script type="text/babel">
        var LikeButton = React.createClass({
            getInitialState: function() {
                return {liked: false};
            },
            handClick: function(event) {
                this.setState({liked: !this.state.liked});
            },
            render: function() {
                console.log(this);
                var text = this.state.liked ? 'like' : 'haven\'t liked';
                return (
                    <p onClick={this.handClick}>
                        You {text} this,Click to toggle.
                    </p>
                );
            }
        });

        ReactDOM.render(
            <LikeButton />,
            document.getElementById('demo')
        );
    </script>
</body>
</html>