<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>ReactJs demo2</title>
</head>
<body>
    <div id="demo"></div>
    <script src="../../include/react.js"></script>
    <script src="../../include/react-dom.js"></script>
    <script src="../../include/browser.min.js"></script>
    <script type="text/babel">
        var names = ['xingliu', 'julyxing', 'test'];
        ReactDOM.render(
            <div>
                {
                    names.map(function (name) {
                        return <div>Hello, {name}!</div>
                    })
                }
            </div>,
            document.getElementById('demo')
        );
    </script>
</body>
</html>